{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block heading %}
    <div class="page-header">
            <h3>{% trans "All unapproved hosts" %} </h3>
    </div>
{% endblock %}

{% block content %}
<div class="control-group pull-right col-md-4">
    <input type="text" class="form-control" placeholder="filter" data-searchTable="unapproved"/>
</div>
{% if all_hosts %}
    <table class="table" id="table_hosts" data-searchTable="unapproved" sortable="true">
      <thead>
      <tr>
        <th class="searchable">{% trans "Owner" %}</th>
        <th class="searchable">{% trans "Host Description" %}</th>
        <th class="searchable">{% trans "IP" %}</th>
        <th class="searchable">{% trans "Rules" %}</th>
        <th>{% trans "Approve Link" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for host in all_hosts  %}
      <tr>
        <td>{{ host.owner }}</td>
        <td>{{ host.name }}</td>
        <td>{{ host.ip }}</td>
        <td>
	  {% for rule in host.get_rules_for_host %}
	      <p>name:{{ rule.name }} from:{{ rule.from_net }} permit:{{ rule.permit }} protocol:{{ rule.ip_protocol }} port:{{ rule.port_range }}
	      </p>
	  {% endfor %}
        </td>
        <td>
	  <form	action={% url 'fwadmin:moderator_approve_host' host.pk %}
		method="post">
	    {% csrf_token %}
	    <input type="submit" value={% trans "Approve" %} class="btn btn-primary">
	  </form>
	</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>{% trans "No unapproved hosts." %}</p>
{% endif %}

{% endblock %}
