body {
}

.page-header {
    padding: 2em;
    margin: 0 0 20px;
    background-color: #005E9C;
    color: #ffffff;
}

.content {
    background-color: #ffffff;
    min-height: 350px;
}

.logout {
    float: right;
    padding-right: 1em;
}

.hosts-list {
    min-height: 350px;
    padding-top: 1em;
}

footer {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
}

#show-js {
    display: none!important;
}

#controls > * {
    margin-bottom: 1em;
    width: 100px;
}

/* accordion indicator */
#accordion .panel-title a {
    text-decoration: none;
}

#accordion .panel-title a:before {
    font-size: 0.9em;
    vertical-align: 0.1em;
}

#accordion .panel-title a:not(.collapsed):before {
    content: "▾";
    margin-right: 0px;
}
#accordion .panel-title a.collapsed:before {
    content: "▸";
    margin-right: 0px;
}

table[sortable] th{
    cursor: pointer;
}

table[sortable] th.tablesorter-headerDesc>.tablesorter-header-inner:after{
    font-family: 'Glyphicons Halflings';
    content: "\e156";
    vertical-align: middle;
}

table[sortable] th.tablesorter-headerAsc>.tablesorter-header-inner:after{
    font-family: 'Glyphicons Halflings';
    content: "\e155";
    vertical-align: middle;
}