{% load i18n %}
<div id="rulesDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">form.modal.rules.header</h4>
            </div>
            <div class="modal-body">
                meep
            </div>
            <div class="modal-footer">
                <button id="accept" type="button" class="btn btn-primary">{% trans "Ok" %}</button>
            </div>
        </div>
    </div>
</div>