{% load i18n %}
{% load bootstrap %}

<h2>{% trans "Change host config" %}</h2>
{% if form.errors %}
<p style="color: red;">
  {% blocktrans %} Please correct the error {{ form.errors|pluralize }} below.  {% endblocktrans %}
</p>
{% endif %}

<form class="form-horizontal" action="" method="post">
  {% csrf_token %}
  {{ form|bootstrap_horizontal }}

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="{% trans "Update" %}" class="btn btn-primary">
    </div>
  </div>
</form>

<hr>
<div class="col-md-8 col-md-offset-2">
  <center class="light">
    <h2>
      <i class="glyphicon glyphicon-warning-sign"></i>
      Dangerous settings
    </h2>
  </center>
  <div class="panel panel-danger">
    <div class="panel-heading">{% trans "Delete host" %}</div>
    <div class="panel-body">
      <strong>{% blocktrans %}This can't be undone!{% endblocktrans %}</strong>
      <br>
      <form action={% url 'fwadmin:delete_host' host.id %} method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans "Delete" %}" class="btn btn-danger">
      </form>
    </div>
  </div>
</div>