{% extends "base.html" %}
{% load i18n %}

{% block content %}

<script>
  $(function() {
    $("#tabs").tabs();
  });
</script>

<div class="page-header">
  <h1>Edit {{ host.name }} ({{ host.ip }})</h1>
</div>

<div id="tabs">
  <ul>
    <li><a href="#tab-rules">Firewall rules</a></li>
    <li><a href="#tab-renew">Active until</a></li>
    <li><a href="#tab-settings">Settings</a></li>
  </ul>

<div id="tab-rules">
  <h2>{% trans "Firewall rules" %}</h2>
  <div class="rules-list">
    
    <!-- dynamic modal form -->
    <a href="{% url fwadmin:new_rule_for_host host.id %}"
       class="btn"
       data-toggle="modal" 
       data-target="#myModal">Add rule
    </a>

    <div class="modal fade" 
         id="myModal" 
         data-remote="{% url fwadmin:new_rule_for_host host.id %}">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" 
                 aria-hidden="true">×</button>
         <h3>New rule for {{ host.name }}</h3>
       </div>
       <div class="modal-body">
         {# taken from "fwadmin:new_rule_for_host" #}
       </div>
    </div>
    <script>
      /* we need to override the form action for the modal dialog
         because the document.URL will still be this page but the
         POST needs to go into the fwadmin:new_rule_for_host page
      */
      $("#myModal").on("shown", function() {
        $("#new_rule_for_host_form").attr("action", "{% url fwadmin:new_rule_for_host host.id %}");
      });
    </script>
    <!-- /dynamic modal form -->

    {% if rules_list %}
    <table border="1" cellpadding="3">
      <tr>
	<th>{% trans "Name"  %}</th>
        <th>{% trans "Permit"  %}</th>
        <th>{% trans "Port" %}</th>
        <th>{% trans "Protocol" %}</th>
	<th>{% trans "Action" %}</th>
      </tr>
      {% for rule in rules_list  %}
      <tr>
        <td>{{ rule.name }}</td>
        <td>{{ rule.permit }}</td>
        <td>{{ rule.port }}</td>
        <td>{{ rule.ip_protocol }}</td>
	<td>
	  <form	action={% url fwadmin:delete_rule rule.id %} 
		method="post">
	    {% csrf_token %}
	    <input type="submit" value={% trans "Delete" %}>
	  </form>
	</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>{% trans "No rules."  %}</p>
    {% endif %}
  </div>
</div>


<div id="tab-renew">
  <h2>{% trans "Active until" %}</h2>
  <p>This host is valid until {{ host.active_until }}
    <form action={% url fwadmin:renew_host host.pk %} 
	  method="post">
      {% csrf_token %}
      <input type="submit" value={% trans "Renew" %}>
    </form>
  </p>
</div>


<div id="tab-settings">
  <h2>{% trans "Change host config" %}</h2>
  {% if form.errors %}
  <p style="color: red;">
    {% blocktrans %} Please correct the error {{ form.errors|pluralize }} below.  {% endblocktrans %}
  </p>
  {% endif %}
  
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Update">
  </form>
</div>
</div>


{% endblock %}

