{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}

<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div>

  {% if is_moderator %}
  <div>
    <h2>Welcome Moderator {{ user }}</h2>
    <p>SuperpowerZ:
      <a class="btn"
         href={% url 'fwadmin:moderator_list_unapproved' %}>List Unapproved</a>
    </p>
  </div>
  {% else %}
    <h2>Welcome {{ user }}</h2>
  {% endif %}



  <p>This is the firewall config tool.</p>
  <div>
    <a class="btn" 
       href={% url 'fwadmin:new_host' %}>{% trans "Create New Host" %}</a>
  </div>
  
  <div>
    <h3>My Hosts</h3>
    {% include "fwadmin/hosts_list.html" %}
  </div>

</div>

{% endblock %}
