{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block brand %}
{% trans "Dashboard" %}
{% endblock %}

{% block heading %}
    <div class="page-header">
        <h3>{% trans "My Hosts" %}</h3>
    </div>
{% endblock %}

{% block content %}
<div class="col-md-8">
{% comment %}
{% if user_is_moderator %}
  <h2>{% blocktrans %}Welcome Moderator {{ user }}{% endblocktrans %}</h2>
{% else %}
  <h2>{% blocktrans %}Welcome {{ user }}{% endblocktrans %}</h2>
{% endif %}
{% endcomment %}
</div>
<div class="col-md-12">
  {% include "fwadmin/host/index.html" %}
</div>
{% endblock %}
