{% if all_hosts %}
    <table border="1" cellpadding="3">
      <tr>
        <th>Host Description</th>
        <th>IP</th>
        <th>Approved</th>
        <th>Open Ports</th>
        <th>Active Until</th>
        <th>Renew Link</th>
      </tr>
      {% for host in all_hosts  %}
      <tr>
        <td>{{ host.name }}</td>
        <td><a href="/fwadmin/edit/{{ host.pk }}/">{{ host.ip }}</a> </td>
        <td>{{ host.approved }}</td>
        <td>
            {% for port in host.open_ports.all|slice:":5" %}
               {{ port.name }}{% if not forloop.last %},{% endif %}
          {% endfor %}
            {% if host.open_ports.count > 5 %}
              and {{ host.open_ports.count|add:"-5" }} more
            {% endif %}
        </td>
        {% if host.approved %}
          <td>{{ host.active_until }}</td>
          <td><a href="/fwadmin/renew/{{ host.pk }}/">renew</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
{% else %}
    <p>No machines.</p>
{% endif %}
