{% if all_hosts %}
    <ul>
      {% for host in all_hosts  %}
        <!-- <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>-->
        <li>{{ host.name }} ({{ host.ip }}) {{ host.owner }}
          <ul>
            {% if host.open_ports.all %}
              {% for port in host.open_ports.all %}
                <li>{{ port.name }} ({{ port.number }})</li>
              {% endfor %}
            {% else %}
                <li>No ports open</li>
            {% endif %}
          </ul>
        </li>
      {% endfor %}
    </ul>
{% else %}
    <p>No data yet.</p>
{% endif %}
