{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load url from future %}

{% block brand %}
{% blocktrans with hostname=host.name %}New rule for {{ hostname }}{% endblocktrans %}
{% endblock %}

{% block content %}

{% if form.errors %}
<p style="color: red;">
 {% blocktrans %} Please correct the error{{ form.errors|pluralize }} below. {% endblocktrans %}
</p>
{% endif %}

<form id="new_rule_for_host_form" class="form-horizontal" action="" method="post">
  {% csrf_token %}

  <div>
    <div id="quickRuleButtons" class="hide">
      <span>Allow Port:</span>
      {% for button in quick_buttons %}
        <button id="{{ button.name }}QuickButton">{{ button.description }}</button>
      {% endfor %}
    </div>
    
    {# hidden by default so that its not visible for non-JS browsers #}
    <div class="fieldWrapper">
    <a id="toggleAdvancedButton" class="btn hide">
      {% trans "Toggle advanced options" %}
    </a>
    </div>
    
    <div  id="advanced">
      {{ form|bootstrap_horizontal }}
    </div>
  </div>
  

  <div>
    <a class="btn btn-danger" href="{% url 'fwadmin:edit_host' host.id %}">
      {% trans "Cancel" %}</a>
    <input class="btn btn-primary" type="submit" value={% trans "Add" %}>
  </div>
</form>

<script type="text/javascript">
function toggleAdvanced() {
  $("#advanced").toggleClass("hide")
}

$(document).ready(function(){
  $("#quickRuleButtons").removeClass("hide")
  $("#toggleAdvancedButton").removeClass("hide")
  toggleAdvanced();

  // callbacks
  {% for button in quick_buttons %}
    $("#{{ button.name }}QuickButton").click(function() {
      $("#id_ip_protocol").val("{{ button.ip_protocol }}");
      $("#id_port").val("{{ button.port }}");
      $("#id_name").val("{{ button.name }}");
    });
  {% endfor %}

  $("#toggleAdvancedButton").click(function(){
    toggleAdvanced();
  });

  // keep id_stock_port and id_port in sync
  $("#id_stock_port").change(function() {
    var selected_str = $("#id_stock_port option:selected").text();
    var regexp = selected_str.match(/(\w+)(.*)\((.*)\)/);
    var ip_protocol = regexp[1];
    var name = regexp[2];
    var port = regexp[3];
    $("#id_ip_protocol").val(ip_protocol);
    $("#id_port").val(port);
    $("#id_name").val(name);
  });

  // reset id_stock_port when id_port changes
  $("#id_port").change(function() {
     $("#id_stock_port").val(0);
  });
});
</script>  
{% endblock %}
