{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load url from future %}

{% block content %}

<div class="page-header">
  <h1>{% blocktrans %}New rule for {{ host.name }}{% endblocktrans %}</h1>
</div>

{% if form.errors %}
<p style="color: red;">
 {% blocktrans %} Please correct the error{{ form.errors|pluralize }} below. {% endblocktrans %}
</p>
{% endif %}

<form id="new_rule_for_host_form" action="" method="post">
  {% csrf_token %}

  <div>
    <table>
      {% for field in form %}
      {% if field.name == 'stock_port' %}
      <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label }}: {{ field }}
      </div>
      {% endif %}
      {% endfor %}
    </table>
  </div>

  {# hidden by default so that its not visible for non-JS browsers #}
  <div class="row">
    <a id="toggleAdvancedButton" class="btn hide" onclick="toggleAdvanced();">
      {% trans "Toggle advanced options" %}
    </a>
  </div>

  <div  id="advanced">
    <table>
      {% for field in form %}
      {% if field.name != 'stock_port' %}
      <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label }}: {{ field }}
      </div>
      {% endif %}
      {% endfor %}
    </table>
  </div>

  <div>
  <a class="btn btn-danger" href="{% url 'fwadmin:edit_host' host.id %}">
    {% trans "Cancel" %}</a>
  <input class="btn btn-primary" type="submit" value={% trans "Add" %}>
  </div>
</form>

<script type="text/javascript">
function toggleAdvanced() {
  if ($("#advanced").hasClass("hide")) {
    $("#advanced").removeClass("hide");
  } else {
    $("#advanced").addClass("hide");
  }
}
$(document).ready(function(){
  $("#toggleAdvancedButton").removeClass("hide")
  toggleAdvanced();

  // keep id_stock_port and id_port in sync
  $("#id_stock_port").change(function() {
    var selected_str = $("#id_stock_port option:selected").text();
    var regexp = selected_str.match(/(\w+)(.*)\((.*)\)/);
    var ip_protocol = regexp[1];
    var name = regexp[2];
    var port = regexp[3];
    $("#id_ip_protocol").val(ip_protocol);
    $("#id_port").val(port);
    $("#id_name").val(name);
  });

  // reset id_stock_port when id_port changes
  $("#id_port").change(function() {
     $("#id_stock_port").val(0);
  });

});
 </script>   



{% endblock %}
