{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}

<div class="page-header">
  <h1>{% trans "Create a new Host" %}</h1>
</div>


{% if form.errors %}
<p style="color: red;">
 {% blocktrans %} "Please correct the error{{ form.errors|pluralize }} below."
 {% endblocktrans %}
</p>
{% endif %}

<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input class="btn" type="submit" value="{% trans "Create" %}">
</form>

{% endblock %}
