{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% trans "Fwadmin" %}{% endblock %}</title>

  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
</head>

<body>
  {% include 'partials/navigation.html' %}

  <div class="container">
    {% include 'partials/messages.html' %}
    {% block content %}{% endblock %}
  </div>

  <footer>
    &copy; ZIMK 2013
  </footer>

  <script src="{{ STATIC_URL }}lib/jquery/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL}}js/plugins/tableSearcher.js"></script>

  <script src="{{ STATIC_URL}}js/settings.js"></script>
  <script>
  (function() {
    window.app.urls.getHostByName = function(name) {
      return "{% url 'fwadmin:gethostbyname' 'xxxyyy' %}".replace("xxxyyy", name)
    }
  })();
  </script>

  <script src="{{ STATIC_URL}}js/main.js"></script>
  <script src="{{ STATIC_URL}}js/newRule.js"></script>
</body>
</html>
