{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Fwadmin{% endblock %}</title>

  <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />

  <script src="{{ STATIC_URL }}components/jquery/jquery.min.js">
  </script>

  <link rel="stylesheet" 
        href="{{ STATIC_URL }}components/jquery-ui/themes/base/jquery-ui.css" />
  <script 
     src="{{ STATIC_URL }}components/jquery-ui.min/index.js">
  </script> 

  <link rel="stylesheet" 
        href="{{ STATIC_URL }}components/bootstrap.css/index.css" />
  <script 
     src="{{ STATIC_URL }}components/bootstrap.min/index.js">
  </script> 

  <script 
     src="{{ STATIC_URL }}components/datatable.min/index.js">
  </script> 

</head>

<body>
  <div class="content container">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href={% url 'fwadmin:index' %}><i class="ui-icon ui-icon-home pull-left"></i>Home</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="/accounts/logout" class="logout">{% trans "Logout" %}</a></li>
        </ul>
      </div>
    </div>

    {% block content %}{% endblock %}
  </div>

  <footer>
    &copy; ZIMK 2013
  </footer>

</body>
</html>
