{% load i18n %}
{% load url from future %}

<div class="hosts-list">
{% if all_hosts %}
    <table class="table table-striped" id="table_my_hosts" data-searchTable="hostList">
      <thead>
      <tr>
        <th class="searchable">{% trans "Host" %}</th>
        <th class="searchable">{% trans "Description" %}</th>
        <th class="searchable">{% trans "Owner" %}</th>
        <th class="searchable">{% trans "Secondary Owner" %}</th>
        <th class="searchable">{% trans "IP" %}</th>
        <th class="searchable">{% trans "Active Rules" %}
        <th>{% trans "Approved"  %}</th>
        <th>{% trans "Active Until" %}</th>
        <th>{% trans "Renew Link" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for host in all_hosts  %}
      <tr>
        <td>{{ host.name }}</td>
        <td>{{ host.description|truncatechars:60 }}</td>
        <th>{{ host.owner.username }}</th>
        <th>{{ host.owner2.username }}</th>
        <td><a href="{% url 'fwadmin:edit_host' host.pk %}">{{ host.ip }}</a></td>
        <td>
          {% for rule in host.get_rules_for_host %}
                  {% if not forloop.last %}
              {{ rule.name }} ({{ rule.port_range }}),
                  {% else %}
                    {{ rule.name }} ({{ rule.port_range }})
                  {% endif %}
          {% endfor %}
        </td>
        {% if host.approved %}
        <td>{% trans "Yes" %}</td>
        {% else %}
        <td>{% trans "No" %}</td>
        {% endif %}
        {% if host.approved %}
          <td>{{ host.active_until }}</td>
          <td>
      <form action={% url 'fwadmin:renew_host' host.pk %}
      method="post">
        {% csrf_token %}
        <input type="submit" value={% trans "Renew" %} class="btn btn-primary">
      </form>
    </td>
  {% else %}
    <td> - </td>
    <td> - </td>
        {% endif %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>{% trans "No hosts yet."  %}</p>
{% endif %}
</div>

