{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}

<h1>{% trans "Welcome to the Firewall config tool" %}</h1>

{% if form.errors %}
<p style="color: red">
  {% trans "Your username and password didn't match. Please try again." %}
</p>
{% endif %}

<p>{% trans "Please login with your account" %}</p>

<form method="post" action={% url 'django.contrib.auth.views.login' %}>
{% csrf_token %}
<table>
  {{ form.as_table }}
</table>

<input type="submit" value="{% trans "login" %}" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
