- hosts: servers
  vars_files:
    - vars.yml
    - vars_derived.yml
  sudo: yes
  sudo_user: ${project_user}

  tasks:
    - name: checkout repo
      git: repo=${project_git_repo}
           dest=${project_root}/application
           version=${project_git_version}
      notify: reload apache2

    - name: create static data symlink
      file: state=link 
            src=${project_root}/application/${project_name}/static/ 
            dest=${project_root}/public_html/static

    - name: Upgrade virtualenv
      pip: requirements=${project_root}/application/requirements.txt
           virtualenv=${project_virtual_env} 
           virtualenv_site_packages=yes

    - name: create ldap-password
      copy: src=non-git-files/ldap-password
            dest=${project_root}/application/django_project/ldap-password
      when: ${project_uses_ldap}

    - name: copy the admin css/js in place
      shell: cp -ar ${project_root}/venv/lib/python2.7/site-packages/django/contrib/admin/static/admin/ ${project_root}/public_html/static/admin 

    - name: Run first time init
      shell: if [ -e ${project_root}/application/django_project/first_time_init.py ]; then ${project_virtual_env}/bin/python ${project_root}/application/django_project/first_time_init.py; fi

    - name: set ALLOWED_HOSTS
      lineinfile: regexp='^ALLOWED_HOSTS'
                  dest=${project_root}/application/django_project/settings_production.py
                  line="ALLOWED_HOSTS=['${project_server_name}', '${project_server_fqdn}' ]"
        

    - name: set log dir permissions so that www-data can write to it
      file: path=${project_root}/application/logs mode=1777 state=directory

    # npm module needs ansible 1.2+
    - name: install bower
      #npm: name=bower version=${bower_version}
      #     path=${project_root}/node_modules
      shell: chdir=${project_root}
             npm install bower

    - name: Run bower
      shell: chdir=${project_root}/application
             ${project_root}/node_modules/bower/bin/bower install

    - name: Sync django db
      shell: DJANGO_SETTINGS_MODULE=django_project.settings_production
             ${project_virtual_env}/bin/python 
             ${project_root}/application/manage.py syncdb --noinput
      tags: db

    - name: Migrate django db
      shell: DJANGO_SETTINGS_MODULE=django_project.settings_production
             ${project_virtual_env}/bin/python 
             ${project_root}/application/manage.py migrate
      when: ${project_uses_south}
      tags: db

    - name: Update i18n
      shell: chdir=${project_root}/application/${project_name}
             DJANGO_SETTINGS_MODULE=django_project.settings_production
             ${project_virtual_env}/bin/python 
             ${project_root}/application/manage.py compilemessages

    - name: Run the tests
      shell: chdir=${project_root}/application/${project_name}
             ${project_virtual_env}/bin/python 
             ${project_root}/application/manage.py test ${project_name}

  handlers:
    - include: handlers.yml